<h1><strong>Books</strong></h1>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
　　　<th colspan="3"></th>
    </tr>
  </thead>
  <div class="list-wrap">
    <% @books.each do |book| %>
      <div class="book-box">
        <div class="book-comment">
          <span class="book-title"><%= book.title %></span>
          <span class="book-body"><%= book.body %></span>
          <%= link_to "Show", book_path(book.id) %>
          <%= link_to "Edit", edit_book_path(book.id) %>
          <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
        </div>
      </div>
    <% end %>
  </div>
  
<%= render 'books/new' %>